*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.a{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 10px;
}
button{
    height: 7vh;
    width: 60px;
}